Dictionary

In [1]:
emp={"Name":"Anil kumar S V","Age":27,"Salary":30000,"Company":"Pragathi Group OF Instutitions"}

In [2]:
print(type(emp))

<class 'dict'>

In [3]:
print("Printing Employee Data....")
print(emp)

Printing Employee Data....
{'Name': 'Anil kumar S V', 'Age': 27, 'Salary': 30000, 'Company': 'Pragathi Group OF Instutitions'}